body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cards, .cards * {
  box-sizing: border-box;
}

.card {
  display: flex;
  border: 1px solid black;
  flex-grow: 1;
  height: 150px;
}